<div class="parallax">
  <br>
  <div class="container">
    <div class="container1">
      <br>
      <h1 class="font-italic">Video Call</h1>
      <img class="center" src="https://i.imgur.com/cOsrHVN.png">
      <h3 class="font-italic">Details</h3>
      <hr>
      <h3 class="font-italic">High Quality Video Calling!</h3>
      <p class="font-italic">Video call any connected user at high speed rates without using any isp provided bandwidth (excl. VPN users connected via the internet)</p>
      <p class="font-italic">- Users connected locally can expect minimal latency and smooth streaming</p>
      <p class="font-italic">- A webcam & microphone is required </p>
      <h3 class="font-italic">Video Call Connections</h3>
      <p class="font-italic">Connect to any user by entering the respective IP number in the text-field. The port should be '100' by default.
      Advanced settings can be found, and adjusted on-screen at the user's preference. Alternatively a user can start a connection by entering their own IP address
      in the text field and clicking on the 'start button'. A connection can be terminated at any time by clicking the 'Disconnect' button on-screen.</p>
      <br>
    </div>
  </div>
  <br>
  <app-bottom-frame></app-bottom-frame>
</div>
