<div class="parallax">
  <br>
  <div class="container">
    <div class="container1">
      <br>
      <h1 class="font-italic">Video Call</h1>
      <img class="center" src="https://i.imgur.com/Scr25uw.png">
      <h3 class="font-italic">Details</h3>
      <hr>
      <h3 class="font-italic">Convenient Voice Messaging</h3>
      <p class="font-italic">Record and listen to voice messages without using any isp provided bandwidth (excl. VPN users connected via the internet)</p>
      <p class="font-italic">- Advanced customization allows users to fine-tune their desired record settings</p>
      <p class="font-italic">- A microphone is required </p>
      <h3 class="font-italic">Recording</h3>
      <p class="font-italic">Record a voice-note of any length by selecting the desired input device from the listbox (connected microphones with installed, up to date, drivers should be listed)
        The default settings can be used for a standard setup. A user may fine-tune these depending on preference.
      </p>
      <br>
    </div>
  </div>
  <br>
  <app-bottom-frame></app-bottom-frame>
</div>
