<div class="parallax">
  <br>
  <div class="container">
    <div class="container1">
      <h1 class="font-italic">Downloads</h1>
      <hr>
      <div class="row">
        <h3 class="font-italic">Latest Stable Version: </h3>
        <a href="https://www.google.com">Download</a>
      </div>
      <div class="row">
        <h3 class="font-italic">Beta Version: </h3>
        <a href="https://www.google.com">Download</a>
      </div>
    </div>
  </div>
  <br>
  <app-bottom-frame></app-bottom-frame>
</div>
