<div class="parallax">
  <br>
  <div class="container">
    <div class="container1">
      <br>
      <h1 class="font-italic">File Transfer</h1>
      <img class="center" src="https://i.imgur.com/xt4cTtw.png">
      <h3 class="font-italic">Details</h3>
      <hr>
      <h3 class="font-italic">Instantly Transfer Files To Any Connected User!</h3>
      <p class="font-italic">Transfer any file to any connected user at high speed rates without using any isp provided bandwidth (excl. VPN users connected via the internet)</p>
      <p class="font-italic">- Users connected via ethernet cables can expect a rate of up to 100mbps </p>
       <p class="font-italic">- Wirelessly connected users can expect a rate of up to 5.5mbps  </p>
      <h3 class="font-italic">Transfers</h3>
      <p class="font-italic">Follow the on-screen instructions in 'File Transfer' tab to transfer/allow any file to/from
        another connected user. Any user can host a connection to enable transfers, allowing any other connected used to
        upload/download files to/from the host. All transfers can be found, by default, in the 'Transfers' folder in the
        application directory. Alternatively, a user/host can create/choose a preffered directory</p>
      <br>
    </div>
  </div>
  <br>
  <app-bottom-frame></app-bottom-frame>
</div>

